
/*Styles sheet*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Button style*/
.accordion_button {
    display: block;
    width: 100%;
    padding: 15px;
    border-color: #07BEB8;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    /*Cursor: Generate a bunch of different mouse cursor.In this case a select hand
    Info: https://www.w3schools.com/csSref/pr_class_cursor.asp*/
    background: #68D8D6;
    text-align: left;
    transition: background 0.2s;
/*Transition: Hover over a <div> element to gradually change the width.
Info: https://www.w3schools.com/csSref/css3_pr_transition.asp*/
}

/*Triangle (right)*/
.accordion_button::after {
    content: '\25be'; /* --> Representación hexadecimal del triangulo*/
    float: right;
    transform: scale(1.5);
}

.link{
    text-decoration: none;
    color: #07BEB8;
}

.accordion_button-active {
    background: #C4FFF9;
}

.accordion_button-active::after {
    content: '\25b4';
}

.accordion_content {
    overflow: hidden; /* --> oculta el contenido - https://www.w3schools.com/cssref/pr_pos_overflow.asp*/
    max-height: 0;
    transition: max-height 0.2s; /*Transición para desplegar contenido*/
    padding: 0 15px;
    background: #C4FFF9;
}